src/main/mule/mavendeployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="13a934e7-f07b-42dd-8954-e6aca060a621" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mavendeploymenyFlow" doc:id="e2e4e44a-f8bc-41a3-aeae-77464c402238" >
		<http:listener doc:name="Listener" doc:id="4cbd4053-4d42-4490-9432-0bc967a8f637" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="c2525d58-d5d8-497e-afcf-c18cf41472ba" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="62bc3e0d-2a2a-4aff-a30f-db9faae1642d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload reduce ($ + $$))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6a2f38a8-bb46-425c-98c7-0a043d34f48b" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="3d1e65bb-91dd-435c-878b-78837af69db4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
